@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: #121212;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px; /* Constrain the max-width */
  max-height: 1020px;
  height: 100%;
  width: 100%;
}

app-root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.monitor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black; /* Ensure the background color is consistent */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

  overflow: hidden;
}

h1 {
  color: #bb86fc;
  margin-bottom: 20px;
  font-weight: 700;
  width: 600px;
}

button{
  background-color: #bb86fc;
  color: #121212;
  border: none;
  border-radius: 5px;
  padding: 10px 40px; /* Adjust button padding for wider buttons */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative; /* Ensure z-index applies */
  z-index: 1; /* Position button above other elements */
}

button:hover {
  background-color: #3700b3;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 20px 0;
  overflow-y: auto;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

li {
  background-color: #2c2c2c; /* Lighter gray background for user labels */
  border: 1px solid #333;
  border-radius: 15px; /* Ensure all corners are rounded */
  padding: 15px;
  display: inline-block;
  margin: 10px auto; /* Center within parent */
  width: 50%; /* Make the list items wider */
  max-width: 50%; /* Ensure list items do not scroll sideways */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: left; /* Align text to left */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* Ensure long text is truncated */
}

p {
  margin: 5px 0;
  font-size: 14px;
  color: #e0e0e0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  margin-top: 10px;
}

.error-message {
  color: #cf6679;
  margin-top: 20px;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1c1c1c;
}

::-webkit-scrollbar-thumb {
  background-color: #bb86fc;
  border-radius: 6px;
  border: 3px solid #1c1c1c;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3700b3;
}
