@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background: url('/background streaming.webp');
  color: #121212;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px; /* Constrain the max-width */
  max-height: 1020px;
  height: 100%;
  width: 100%;
}

app-root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.monitor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black; /* Ensure the background color is consistent */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

  overflow: hidden;
}

h1 {
  color: #bb86fc;
  margin-bottom: 20px;
  font-weight: 700;
  width: 600px;
}

button {
  background-color: #bb86fc;
  color: #121212;
  border: none;
  border-radius: 5px;
  padding: 10px 40px; /* Adjust button padding for wider buttons */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative; /* Ensure z-index applies */
  z-index: 1; /* Position button above other elements */
}
